/* Dashboard pages */
/* Id of reference element that holds members' details - top-center of dashboard page */
/* Holds migrations details - top-right of dashboard page */
/* Holds a variety of charts - bottom of dashboard page */
#stats_holder {
  box-sizing: border-box;
  grid-column: 1 / span 3;
  grid-row: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* align-items: flex-start; */
  /* background-color: rgb(88, 85, 85); */
  padding: 10px;
  color: rgb(189, 179, 245);
}

.stat_box {
  box-sizing: border-box;
  height: 200px;
  background-color: turquoise;
  border: solid 1px orange;
  padding: 8px;
  margin-right: 10px;
}
