.members_holder {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6px;
}

.members_display {
  grid-column: 1 / span 2;
  border: solid 1px blue;
}

.members_info {
  grid-column: 3;
  border: solid 1px blue;
}

.members_container {
  display: flex;
  flex-wrap: wrap;
}

.img-rounded {
  border: solid 4px rgb(192, 19, 19);
  border-radius: 50%;
}
