/* Dashboard pages */
#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

/* Id of reference element that holds members' icons - top-left of dashboard page */
#members {
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
  column-gap: 1px;
  row-gap: 1px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 260px;
  background-color: rgb(88, 85, 85);
}

.avatar_box {
  width: 56px;
  height: 60px;
}

.avatar {
  border: solid 4px rgb(192, 19, 19);
  width: 50px;
  display: block;
  margin: auto;
}

/* Id of reference element that holds members' details - top-center of dashboard page */
#members_details {
  box-sizing: border-box;
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(88, 85, 85);
  color: wheat;
}

/* Holds migrations details - top-right of dashboard page */
#migrations {
  box-sizing: border-box;
  grid-column: 3;
  grid-row: 1;
  background-color: rgb(88, 85, 85);
}

.migration_items_holder {
  box-sizing: border-box;
  color: wheat;
  padding-left: 6px;
  margin-bottom: 6px;
}

/* Holds a variety of charts - bottom of dashboard page */
#stats_holder {
  grid-column: 1 / span 3;
  grid-row: 2;
  display: flex;
  background-color: teal;
}

#stats {
  display: flex;
}

.stats_holder {
  width: 200px;
}

#stats-left {
  grid-column: 1;
  grid-row: 2;
  color: #444;
}
#stats-center {
  grid-column: 2;
  grid-row: 2;
  color: #444;
}
#stats-right {
  grid-column: 3;
  grid-row: 2;
  color: #444;
}

.layout_section {
  background-color: wheat;
  padding: 10px 10px 10px 10px;
  /* border: solid 1px red; */
}
