#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

/* Id of reference element that holds members' icons */
#members {
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
  column-gap: 1px;
  row-gap: 1px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 260px;
  background-color: #444;
  /* border: solid 2px wheat; */
  /* padding: 10px 10px 10px 10px; */
}

.avatar_box {
  width: 56px;
  height: 60px;
  /* padding-top: 4px; */
}

.avatar {
  border: solid 4px rgb(192, 19, 19);
  /* border-radius: 50%; */
  width: 50px;
  display: block;
  margin: auto;
}
/* Id of reference element that holds members' details */
#members_details {
  grid-column: 2;
  grid-row: 1;
  color: #444;
}

/* Holds migrations details */
#migrations {
  grid-column: 3;
  grid-row: 1;
  color: #444;
}

#stats {
  grid-column: 1 / span 3;
  grid-row: 2;
  color: #444;
}

.layout_section {
  background-color: wheat;
  padding: 10px 10px 10px 10px;
  /* border: solid 1px red; */
}

#stat1 {
  grid-column: 1;
  grid-row: 3;
}
#stat2 {
  grid-column: 2;
  grid-row: 3;
}
#stat3 {
  grid-column: 3;
  grid-row: 3;
}
